@mixin media-min-width($width)
  @media (min-width: $width)
    @content

@mixin media-screen()
  @include media-min-width(42rem)
    @content

.display-flex
  display: -webkit-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex


