@mixin media-min-width($width)
  @media (min-width: $width)
    @content

@mixin media-screen()
  @include media-min-width(48rem)
    @content

.display-flex
  display: -webkit-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

.section
  padding: 2rem 1rem
  background: var(--color-background)
  @include media-screen()
    padding: 4rem 4rem
  h1
    text-align: center
    font-size: 1.8rem
    margin-top: 0
    margin-bottom: 3rem
    @include media-screen()
      margin-bottom: 5rem


